<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Pizze</title>
    <th:block th:insert="~{fragments :: styles}"></th:block>
</head>
<body>
     <header>
        <th:block th:insert="~{fragments :: header}"></th:block>
    </header>
    <main class="container mt-3">
        <section class="row">
            <h2 class="text-center mt-3 mb-3 text-danger">Elenco Libri</h2>
        <form method="GET" th:action="@{/books}" class="mb-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cerca libro per nome..." name="bookName" 
                th:value="${searchBookName}"> <button type="submit" class="btn btn-outline-warning">Cerca</button>
            </div>
        </form>
            <div class="d-flex justify-content-center mb-3"><a th:href="@{/books/new}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-success btn-sm">Aggiungi un nuovo libro</a>
</div>
            <h3 th:text="'Benvenuto lord ' + ${username}" />
            <div class="col-12">
                <table class="table" th:if="${books.size() > 0}">
                    <tbody>
                        <tr th:each="book : ${books}" th:object="${book}">
                            <td class="fs-3 align-middle text-warning">[[*{name}]]</td>
                            <td class="align-middle">[[*{synopsis}]]</td>
                            <td class="align-middle text-warning">Prezzo: <br>[[*{price}]] euro</td>
                            <td> <img class= "list-images" th:src="*{coverImage}" alt="*{name}"</td>
                            <td class="align-middle" > <a th:href="@{/books/{id}(id=*{id})}" class="btn btn-info btn-sm">Dettagli</a> </td>
                            <td class="align-middle"> <a th:href="@{/books/edit/{id}(id=${book.id})}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-warning btn-sm">Modifica</a> </td>
                            <td class="align-middle" sec:authorize="hasAuthority('ADMIN')">
                                <form action="@" th:action="@{'/books/delete/{id}' (id=${book.id})}" method="post">
                                    <button class="btn btn-danger btn-sm" type="submit" id="submitButton">
                                        <i class="fas fa-trash-alt"></i>Cancella
                                    </button>
                                </form>
                            </td>   
                        </tr>
                    </tbody>
                </table>
            <p th:text="'Nessuna libro disponibile'" th:unless="${books.size > 0}" />
    </main>
</body>
</html>